<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="css/index.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body>
    <div class="loginPage">
        <img src="img/login.png" alt="" />
        <div class="login">
            <form id="contact" method="post">
                <h2>Login</h2>
                <div class="mb-3"><label class="form-label" for="exampleInputEmail1">Username</label><input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" /></div>
                <div class="mb-3"><label class="form-label" for="exampleInputPassword1">Password</label><input class="form-control" id="exampleInputPassword" type="password" /><a id="forgotPassword">Forgot Password?</a></div>
                <div class="buttons"><button class="btn btn-primary" type="submit">Login</button>
                    <div class="signupArea">
                        <div style="margin-right: 10px;">New User?</div>
                        <a class="btn btn-outline-primary btn-signUpOrLogin" type="text" href="./signup.html">Sign up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="bg-popup">
        <div class="popup-contents">
            <div class="close" id="close1">+</div><img src="img/pc.png" alt="" />
            <form action=""><input type="email" placeholder="Enter your Username or email id" /><a class="btn btn-primary" id="confirm">Confirm</a></form>
        </div>
    </div>
    <div class="bg-popup-otp">
        <div class="popup-contents">
            <div class="close" id="close2">+</div><img src="./pc.png" alt="" />
            <form action=""><input type="email" placeholder="Enter your Username or email id" /><input class="form-control" id="exampleInputPassword1" type="password" placeholder="Enter the OTP sent to you email" /><input class="form-control" id="exampleInputPassword2" type="password" placeholder="Enter new password" /><a class="btn btn-primary">Confirm</a></form>
        </div>
    </div>
</body>
<script>
    document.getElementById('forgotPassword').addEventListener("click", function() {
        document.querySelector('.bg-popup').style.display = "flex";
    });

    document.getElementById('close1').addEventListener("click", function() {
        document.querySelector('.bg-popup').style.display = "none";
    });

    document.getElementById('close2').addEventListener("click", function() {
        document.querySelector('.bg-popup-otp').style.display = "none";
    });

    document.getElementById('confirm').addEventListener("click", function() {
        document.querySelector('.bg-popup-otp').style.display = "flex";
        document.querySelector('.bg-popup').style.display = "none";
    })
</script>